/* Reset CSS */
.top,
.dock,
.dock > toolitem,
.dock > toolitem > widget,
.dock-item {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.dock {
  background-color: rgba(255, 255, 255, 0.1);
}

.dock.horizontal {
  padding-left: 12px;
  padding-right: 12px;
}

.dock.vertical {
  padding-top: 12px;
  padding-bottom: 12px;
}

.dock-item {
  padding: 5px 8px;
  border: none;
  transition: 0.2s linear;
  transition-property: all;
  -gtk-icon-shadow: 1px 2px alpha(black, 0.2);
}

.dock-item.hidden {
  opacity: 0.2;
}

.dock.vertical .dock-item {
  padding: 8px 5px;
}

.dock-item:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
}

.dock.horizontal .dock-item.active {
  /* margin-bottom: -4px; */
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}

.dock.vertical .dock-item.active {
  /* margin-bottom: -4px; */
  border-right: 2px solid white;
  padding-right: 2px;
}
