/* Reset CSS */
* {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

toolbar {
  background-color: rgba(255, 255, 255, 0.1);
}

toolbar.horizontal {
  padding-left: 12px;
  padding-right: 12px;
}

toolbar.vertical {
  padding-top: 12px;
  padding-bottom: 12px;
}

toolbutton button {
  padding: 5px 8px;
  border: none;
  transition: 0.2s linear;
  transition-property: all;
}

toolbutton.hidden button {
  opacity: 0.8;
}

toolbar.vertical toolbutton button {
  padding: 8px 5px;
}

toolbutton image {
  -gtk-icon-shadow: 1px 2px alpha(black, 0.2);
}

toolbutton button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
}

toolbar.horizontal toolbutton.active-window button {
  /* margin-bottom: -4px; */
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}

toolbar.vertical toolbutton.active-window button {
  /* margin-bottom: -4px; */
  border-right: 2px solid white;
  padding-right: 2px;
}
